.icon {
  width: 28px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.icon.shuffle {
  background-image: url("/icons/shuffle.svg");
}

.icon.sort {
  background-image: url("/icons/sort.svg");
}
