* {
  --primary-dark: #2f2f2f;
  --primary-green: #c3f240;
  --background-gray: #e5e5e5;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: var(--background-gray);
  font-family: Inter, sans-serif, system;
  margin: 0;
  padding: 0 0 3rem 0;
  border-top: 0.625rem solid var(--primary-dark);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3.625rem);
}

h1 {
  padding: 0 2rem;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

h1 span:first-child {
  font-weight: 400;
}

h1 span:nth-child(2) {
  color: var(--primary-green);
}

.shuffler {
  background: white;
  border-radius: 30px;
  box-shadow: 0 0.25rem 2rem rgba(47, 47, 47, 0.2);
  display: flex;
}

.shuffler > div {
  padding: 32px;
}

.shuffler .tiles {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.shuffler .tiles .tile {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.tile.green {
  background: var(--primary-green);
  color: var(--primary-dark);
}

.tile.dark {
  background: var(--primary-dark);
  color: white;
}

.toolbar {
  background: var(--primary-dark);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.toolbar .button {
  display: block;
  background: var(--primary-green);
  border: none;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 14rem;
  user-select: none;
  cursor: pointer;
}

.toolbar .button .icon {
  margin-right: 0.75rem;
}

.toolbar .button:hover {
  background: #b5d82e;
}

.toolbar .logo {
  margin-top: auto;
  margin-left: auto;
  animation: fade-in 0.75s ease-in-out;
  filter: invert(1) brightness(2);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media ((max-width: 1000px ) and (orientation: portrait)) {
  body {
    border-top: none;
  }

  .wrapper {
    padding: 0;
  }

  .wrapper > div {
    width: 100vw;
  }

  h1 {
    background: var(--primary-dark);
    font-size: 1rem;
    padding: 1rem;
    color: white;
  }

  .wrapper .shuffler {
    flex-direction: column-reverse;
    background: none;
    box-shadow: none;
  }

  .wrapper .shuffler .tiles {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .shuffler > div {
    padding: 0 2rem;
  }

  .toolbar {
    background: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .toolbar .button {
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }

  .toolbar .button .icon {
    filter: invert(1) brightness(2);
    margin-right: 0;
  }

  .toolbar .button span {
    display: none;
  }
  .toolbar .logo {
    margin-top: unset;
    filter: none;
  }

  .shuffler .tiles .tile {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid;
  }

  .shuffler .tiles .tile.green {
    border-color: var(--primary-green);
  }

  .shuffler .tiles .tile.dark {
    border-color: var(--primary-dark);
  }

  .shuffler .tiles .tile span {
    background: white;
    color: var(--primary-dark);
    width: calc(100% - 1rem);
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
